<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/logo-blue.png" type="image/x-png">
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="/js/index/app.js"></script>
  <title>Lagos Science College</title>
</head>

<body>
  <section id="section">
    <div class="container row">
      {{>welcome}}
      <div class="logins">
        <button class="btn logins-btn" id="staff">staff login</button>
        <button class="btn logins-btn" id="student">student login</button>
      </div>
    </div>
  </section>
</body>

</html>