<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/logo-blue.png" type="image/x-png">
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="/js/student/courses/app.js"></script>
  <title>Document</title>
</head>

<body>
  <img src="/img/logo-blue.png" alt="image" class="logo">
  <section class="courses-section">
    <h1>Please select your courses</h1>
    <div class="courses">
      <div class="course">
        <h2>Tech</h2>
        <ul>
          <li>Mathematics</li>
          <li>English Language</li>
          <li>Physics</li>
          <li>Chemistry</li>
        </ul>
        <button class="btn select">select</button>
      </div>
      <div class="course">
        <h2>Science</h2>
        <ul>
          <li>English Language</li>
          <li>Physics</li>
          <li>Chemistry</li>
          <li>Biology</li>
        </ul>
        <button class="btn select">select</button>
      </div>
      <div class="course">
        <h2>Arts</h2>
        <ul>
          <li>English Language</li>
          <li>Literature</li>
          <li>Government</li>
          <li>CRS</li>
        </ul>
        <button class="btn select">select</button>
      </div>
      <div class="course">
        <h2>Commerce</h2>
        <ul>
          <li>English Language</li>
          <li>Government</li>
          <li>Commerce</li>
          <li>Accounting</li>
        </ul>
        <button class="btn select">select</button>
      </div>
    </div>
    <div class="courses-footer-links">
      <a href="" class="f-link">About LSC</a>
      <a href="" class="f-link">Admissions</a>
      <a href="" class="f-link">Contact us</a>
      <p>&copy; 2020 lagos science college</p>
    </div>
  </section>
</body>

</html>