<div class="welcome">
  <img src="/img/logo-white.png" class="logo" alt="">
  <h1>welcome to lagos science college student portal</h1>
  <div class="footer-links">
    <a href="/" class="f-link">Home</a>
    <a href="" class="f-link">About LSC</a>
    <a href="" class="f-link">Admissions</a>
    <a href="" class="f-link">Contact us</a>
    <p>&copy; 2020 lagos science college</p>
  </div>
</div>